<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%
  if content_for?(:page_title)
    if Rails.configuration.x.site_name.present?
      title = "#{content_for(:page_title)} - #{Rails.configuration.x.site_name}"
    else
      title = content_for(:page_title)
    end
  else
    if Rails.configuration.x.site_name.present?
      title = Rails.configuration.x.site_name
    else
      title = Rails.application.class.parent_name.titleize
    end
  end

  if content_for?(:description)
    description = content_for(:description)
  else
    description = title
  end

  # TODO: delete silly params (like utm_*)
  if Rails.configuration.x.canonical_host.present?
    host = Rails.configuration.x.canonical_host
  else
    host = request.host
  end
  url = url_for(host: host)
%>
    <title><%= title %></title>
<% if content_for?(:favicon_element) %>
		<!-- favicon and apple touch icon -->
		<%= yield :favicon_element %>
<% end %>

		<!-- basic SEO -->
    <% if content_for?(:keywords) %>
        <meta name="keywords" content="<%= yield :keywords %>" />
    <% end %>
		<meta name="description" content="<%= description %>" />
    <link rel="canonical" href="<%= url %>" />

		<!-- Twitter summary card -->
		<meta property="twitter:creator:id" content="1382202606" /> <!-- this is @veryartificial -->
		<meta property="twitter:title" content="<%= title %>" />
		<meta property="twitter:description" content="<%=  description %>" />

		<!-- Facebook OpenGraph -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="<%= url %>" />
		<meta property="og:title" content="<%= title %>" />

		<meta property="og:description" content="<%= description %>" />
    <% if content_for?(:image) %>
  		<meta property="og:image" content="<%= yield :image %>" />
    <% end %>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<%= stylesheet_link_tag 'application' %>
		<%= yield :stylesheet_tags %>

    <%= javascript_include_tag 'application' %>
		<script src="http://theartificial.nl/javascripts/jquery.artificial.logo.js"></script>
	</head>

  <%# TODO: allow class overrides %>
  <body class="<%= controller_name %><%= action_name %>">

		<script type="text/javascript">
			// when the DOM is ready...
      $('document').ready(function(){
				// load the footer's logo
        $('#artificial').artificialLogo();

				// apply packery
				var $packeryContainer = $('.packery');
				$packeryContainer.packery({
				  itemSelector: '.packed'
				});
				// and re-flow when images within are loaded
				$packeryContainer.imagesLoaded(function(){
					$packeryContainer.packery();
				});

  			$(".square").imgLiquid({
      		fill: true,
      		horizontalAlign: "center",
      		verticalAlign: "50%"
 				});
			});

    </script>

    <%= content_for?(:layout_content) ? yield(:layout_content) : yield %>

		<!-- search -->
		<div id="oncall">
			<div class="flexcontainer">
				<div class="col-8 left-2 right-2">
					<div class="search">
						<input type="search" placeholder="search" class="searchbox"></input>
						<input type="submit" value="search" class="button"></input>
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->
    <%= render partial: '/layouts/shannonethomas_footer' %>
    <%= render partial: '/layouts/shannonethomas_ga' %>
  </body>
</html>
